<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Selenium project">

    <test name="Chrome tests">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoke"></include>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="LoginTest"></class>
            <class name="RegistrationTest"></class>
            <class name="BasketTest"></class>
        </classes>

    </test>


</suite>
